/*this theme is based on "Dev theme by KDr3w" color pallet: https://www.deviantart.com/kdr3w/art/Dev-825722799 */
:root {
  --bg-color: #FFDB58;
  --main-color: #FFDB58;
  --caret-color: #FFDB58
  --sub-color: #FFDB58;
  --text-color: #FFDB58;
  --error-color: #FFDB58;
  --error-extra-color: #FFDB58;
  --colorful-error-color: #FFDB58;
  --colorful-error-extra-color: #FFDB58;
}
